<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Specify the default document -->
    <defaultDocument>
      <files>
        <add value="index.html" />
        <!-- Add more default documents if needed -->
      </files>
    </defaultDocument>
    <!-- Enable directory browsing if required -->
    <directoryBrowse enabled="false" />
    <!-- Configure the Node.js application -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Ensure static files are served correctly -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
